@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: #ffffff;
  --color-foreground: #020617;

  --color-card: #ffffff;
  --color-card-foreground: #020617;

  --color-popover: #ffffff;
  --color-popover-foreground: #020617;

  --color-primary: #0f172a;
  --color-primary-foreground: #f8fafc;

  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #020617;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}



::selection {
  background-color: hsl(221.2 83.2% 53.3%);
  color: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}